{% extends 'seller-base.html' %}
{% load static %}

{% block title %} <title>All Orders</title> {% endblock %}
{% block dash-title %} Orders{% endblock %}
{% block search-bar %} 
        <form class="dash-page-search-bar" action="">
            <input type="text" placeholder="Search Orders" class="">
            <a href="" type="submit" class="">
                <i class="fas fa-search cat-search-icon"></i>
            </a>
        </form>
{% endblock %}

{% block dash-content %}
<!-- recent orders section -->
<div class="pad-2">
    <p class="heading-3-black">
        Recent Orders
        <a href="{% url 'seller:order-list' %}" class="seller-see-all body-bold-udl-orange">
            See All
        </a>
    </p>
    <hr class="simple-hr">
    <table class="seller-orders-table">
        <tr>
            <th>Order No.</th>
            <th class="table-sm">Order Date</th>
            <th class="table-sm">Order Price</th>
            <th class="table-sm">Destination</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for order in all_orders %}
        <tr>
            <td> 
                <a href="{% url 'seller:order-detail' pk=order.id %}">#{{order.id}}</a> 
            </td>
            <td class="table-sm">{{order.orderDate|date:"Y-m-d"}}</td>
            <td class="table-sm">${{order.price}}</td>
            <td class="table-sm">{{order.pincode}}</td>

            {% if order.delivered %}
            <td>Delivered</td>
            {% else %}
            <td>Processing</td>
            {% endif %}

            {% if not order.delivered %}
            <td>
                <a href="{% url 'seller:mark-delivered' pk=order.id %}">Mark as Delivered</a>
            </td>
            {% else %}
            <td>Not Applicable</td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
</div>
<!-- recent orders section -->

<!-- return order section -->
<div class="mt-5 mb-5 pad-2">
    <p class="heading-3-black">
        Returns/Refunds
        <a href="" class="seller-see-all body-bold-udl-orange">
            See All
        </a>
    </p>
    <hr class="simple-hr">
    <table class="seller-orders-table">
        <tr>
            <th>Order No.</th>
            <th class="table-sm">Order Date</th>
            <th class="table-sm">Order Price</th>
            <th class="table-sm">Destination</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for i in '12345' %}
        <tr>
            <td>
                <a href="">#1234</a>
            </td>
            <td class="table-sm">12 Jan 2021</td>
            <td class="table-sm">$400</td>
            <td class="table-sm">500089</td>
            <td>Out For Delivery</td>
            <td>
                <div class="row justify-content-around">
                    <a href="" class="w-fit">Accept</a>
                    <a href="" class="w-fit">Deny</a>
                </div>
            </td>
        </tr>
        {% endfor %}
       
    </table>
</div>
<!-- return order section -->



{% endblock %}