{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Legal Info</title>  {% endblock %}
{% block stylesheets %} 
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block bread-page %}
<p class="bread-page body-white">Legal Info</p>
{% endblock %}

{% block bread-head %} 
<p class="bread-head heading-2-white">#Legal Info</p>
{% endblock %}

{% block content %}
<div class="container">
    <section class="content-box p-4">
        <div>
            <p class="heading-2-black">Return/Refund Policies</p>
            <hr class="simple-hr">
            <p class="justify-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque, ducimus asperiores delectus officiis esse iusto incidunt quisquam sed placeat eos. Nesciunt expedita hic aperiam nobis fuga, ullam est tempora.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, cupiditate fugit nulla quis error omnis quam! Quo doloribus, possimus illo voluptate ab ipsa officiis dolore nihil sed, pariatur, reprehenderit numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil doloremque sunt, possimus consequatur mollitia laudantium perspiciatis neque deleniti distinctio labore quisquam, architecto quidem et amet aut eum repudiandae accusantium.
            </p>
        </div>
        <div class="mt-5">
            <p class="heading-2-black">Privacy Policies</p>
            <hr class="simple-hr">
            <p class="justify-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque, ducimus asperiores delectus officiis esse iusto incidunt quisquam sed placeat eos. Nesciunt expedita hic aperiam nobis fuga, ullam est tempora.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, cupiditate fugit nulla quis error omnis quam! Quo doloribus, possimus illo voluptate ab ipsa officiis dolore nihil sed, pariatur, reprehenderit numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil doloremque sunt, possimus consequatur mollitia laudantium perspiciatis neque deleniti distinctio labore quisquam, architecto quidem et amet aut eum repudiandae accusantium.
            </p>
        </div>
        <div class="mt-5 pb-4">
            <p class="heading-2-black">Terms and Conditions</p>
            <hr class="simple-hr">
            <p class="justify-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque, ducimus asperiores delectus officiis esse iusto incidunt quisquam sed placeat eos. Nesciunt expedita hic aperiam nobis fuga, ullam est tempora.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, cupiditate fugit nulla quis error omnis quam! Quo doloribus, possimus illo voluptate ab ipsa officiis dolore nihil sed, pariatur, reprehenderit numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil doloremque sunt, possimus consequatur mollitia laudantium perspiciatis neque deleniti distinctio labore quisquam, architecto quidem et amet aut eum repudiandae accusantium.
            </p>
        </div>
    </section>
</div>
<div class="policy-bar">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 text-center my-auto heading-3-regular-white legal-bottom-info">
                Have any Query or need any help?, Contact us at support@area51.com or 1234567890
            </div>
        </div>
    </div>
</div>

{% endblock %}