{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    input {
        margin-bottom: 0px !important;
    }

    .btn {
        height: 50% !important;
    }

    hr {
        margin: 10px 0 !important;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .input-box {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }

    .register-form {
        padding: 40px 60px 50px 50px !important;
    }
</style>
<div class="mx-auto">
    <main class="login-bg">
        <!-- Register Area Start -->
        <div class="register-form-area">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4">
                        {% block acc_content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Register Area End -->
    </main>
</div>
{% endblock content %}