{% load static %}
<div class="categories-area section-padding40 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services1.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>On time Shipping</h5>
                        <!-- <p style="color: black;">Free delivery on all orders</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services2.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Secure Payment</h5>
                        <!-- <p style="color: black;">Free delivery on all orders</p> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services3.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Satisfaction Guarantee</h5>
                        <!-- <p style="color: black;">Free delivery on all orders</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services4.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Online Support</h5>
                        <!-- <p style="color: black;">Free delivery on all orders</p> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-wrapper" style="background:#F2E1D9">
        <!-- Footer Start-->
        <div class="footer-area footer-padding" style="background:#f5f5f5">
            <div class="container ">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="{% url 'home' %}"><img style="width: 100px;margin-left: 20px;" src="{% static 'assets/img/logo/G&M New LOGO no br.png' %}"
                                            alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <!-- <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                            viverra ornare, eros dolor interdum nulla.</p> -->
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <p>Follow Us at</p>
                                    <a href="https://www.instagram.com/gifts_and_memories_maroc/"><i class="fab fa-instagram"> </i></a>
                                    <!-- <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle" >
                                <h4>Quick links</h4>
                                <ul>
                                    <li><a href="/product/build-a-box">Build A Box</a></li>
                                    <li><a href="/product/premade">Premade Gifts</a></li>
                                    <li><a href="#">Corporate Gifts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Legal</h4>
                                <ul>
                                    <!-- <li><a href="#">Image Licensin</a></li> -->
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Pertners</h4>
                                <ul>
                                    <li><a href="#">Image Licensin</a></li>
                                    <li><a href="#">Style Guide</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area" >
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    GiftsandMemories <i class="fa fa-heart" aria-hidden="true"></i> Powered by<a
                                        href="http://xenontechnologylab.com/" target="_blank"> Xenon Technology Lab</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>